    body {
        background-color: #17202A;
        color: #ECF0F1;
        height: 100vh;
    }
    
    h3 {
        padding-top: 15px;
        padding-left: 15px;
    }
    
    .container {
        padding-top: 15px;
        align-items: center;
    }
    
    .card {
        color: #17202A;
    }
    
    .cen {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .row {
        margin-top: 20px;
    }